%div.container-fluid.home
  %div.row-fluid
    %div.span4 Welcome to yamba, Yet Another Manchester Bus-times Application. Everyone should have one!
  %div.row-fluid
    %div.span8
      %form.input-append{ :action => '/lookup', :method => 'get'}
        %input.span6{:type => 'text', :name => 'postcode', :class => 'text', :value => ''}
        %input.btn{:type => 'submit', :value => 'Search bus stops by postcode'}