%div.container-fluid.home
  %div.row-fluid
    %div.span6
      %h1 YAMBA - Yet Another Manchester Bus-times Application
  %div.row-fluid
    %div.span6
      %table.table.table-striped
        %thead
          %th Recent bus stops
        %tbody
          - @recent_stops.each do |stop|
            %tr
              %td
                %a{:href => "/times/#{stop.stop_id}/now"} #{stop.stop_name}
              %td
                %a{:href => "/remove/#{stop.stop_id}"} x
