%div.container-fluid
  %div.span10
    %table.table.table-striped
      %thead
        %th Service
        %th Departure time
        %th Route
      %tbody
        - @items.each do |item|
          %tr
            %td= item.trip.routes.first.route_short_name
            %td= item.time_string
            %td= item.trip.routes.first.route_long_name